.container {
  margin-top: 20px;
  button {
    display: flex;
    align-items: center;
    background: blue;
    padding: 15px 45px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgb(12, 12, 164);
    }
  }
  .icon {
    font-size: 20px;
    margin-left: 10px;
  }
}
