.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 30px 20px;
  margin-right: 20px;
  height: 55px;
  border-radius: 20px;
  margin-top: 15px;

  span {
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
  }
}
@media (max-width: 614px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 40px !important;
  }
  span {
    font-size: 16px !important;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px !important;
  }
}
@media (max-width: 400px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 30px !important;
  }
  span {
    font-size: 12px !important;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px !important;
  }
}
